<h1>Editar linea</h1>

<%= render "form", line: @line %>

<br>

<div>
  <%= link_to "Ir a linea", @line, class:'border px-2 py-1 bg-gray-100' %>
  <%= link_to "Volver a lineas", lines_path, class:'border px-2 py-1 bg-gray-100' %>
</div>
