<h1>Editing brand</h1>

<%= render "form", brand: @brand %>

<br>

<div>
  <%= link_to "Show this brand", line_brand_path(@line, @brand) %> |
  <%= link_to "Back to brands", line_path(@line) %>
</div>
